---
title: 94B75
layout: base.njk
---
<div class="container">
<h1>Applications of the theory of convex sets and geometry of numbers (covering radius, etc.) to coding theory [See also 11H31, 11H71]</h1>
</div>