---
title: 33D80
layout: base.njk
---
<div class="container">
<h1>Connections of basic hypergeometric functions with quantum groups, Chevalley groups, $p$-adic groups, Hecke algebras, and related topics</h1>
</div>