---
title: 65M50
layout: base.njk
---
<div class="container">
<h1>Mesh generation, refinement, and adaptive methods for the numerical solution of initial value and initial-boundary value problems involving PDEs</h1>
</div>