---
title: 11M36
layout: base.njk
---
<div class="container">
<h1>Selberg zeta functions and regularized determinants; applications to spectral theory, Dirichlet series, Eisenstein series, etc. (explicit formulas)</h1>
</div>