---
title: 11M41
layout: base.njk
---
<div class="container">
<h1>Other Dirichlet series and zeta functions {For local and global ground fields, see 11R42, 11R52, 11S40, 11S45; for algebro-geometric methods, see 14G10} [See also 11E45, 11F66, 11F70, 11F72]</h1>
</div>