---
title: Amogus Negro
layout: item.njk
price: 1.990-
image: "/media/items/item3.png"
stock: 1
---

<div class="container">
  <p>Descripción del producto:</p>
  <p>Amogus Negro del juego de los amogus</p>
  <p>Hace tuerk</p>
</div>