<!DOCTYPE html>
<html lang="en">
<body style="background-color:#181818;">
<link rel="stylesheet" href="/css/style.css">
<link rel="icon" href="/media/favicon.ico" type="image/x-icon">  

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
</head>

<!-- Side navigation -->
<div class="sidenav">
<style>
    body {
      text-align:center;
      color:#bebebe;
    }
  </style>
<a href="/">Inicio</a>
<a href="/about">Información</a>
<a href="/msc">MSC</a>
</div>

<div class="content">
<p> {{ content | safe }}</p>
  <style>
    body {
      text-align:left;
      color:#bebebe;
    }
  </style>
</div>


</html>

