<!DOCTYPE html>
<html lang="en">

<div class="content">
<p> {{ content | safe }}</p>
  <style>
    body {
      text-align:center;
      color:white;
    }
  </style>
</div>

<!-- Side navigation -->
<div class="sidenav">
<a href="/">Home</a>
<a href="/about">About</a>
</div>

<!-- Page content -->
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
</head>

<link rel="stylesheet" href="/css/style.css">
</html>

