---
title: 35F21
layout: base.njk
---
<div class="container">
<h1>Hamilton-Jacobi equations {For calculus of variations and optimal control, see 49Lxx; for mechanics of particles and systems, see 70H20}</h1>
</div>