---
title: 47F05
layout: base.njk
---
<div class="container">
<h1>General theory of partial differential operators (should also be assigned at least one other classification number in Section 47-XX) [See also 35Pxx, 58Jxx]</h1>
</div>