---
title: 83C20
layout: base.njk
---
<div class="container">
<h1>Classes of solutions; algebraically special solutions, metrics with symmetries for problems in general relativity and gravitational theory</h1>
</div>