---
title: 83C30
layout: base.njk
---
<div class="container">
<h1>Asymptotic procedures (radiation, news functions, $\mathcal{H} $-spaces, etc.) in general relativity and gravitational theory</h1>
</div>