---
title: 49Q15
layout: base.njk
---
<div class="container">
<h1>Geometric measure and integration theory, integral and normal currents in optimization [See also 28A75, 32C30, 58A25, 58C35]</h1>
</div>