---
title: 35K57
layout: base.njk
---
<div class="container">
<h1>Reaction-diffusion equations {For diffusion processes and reaction effects, see 47D07, 58J65, 60J60, 60J70, 74N25, 76R50, 76V05, 80A23, 82B24, 82C24, 92E20}</h1>
</div>