---
title: 35K85
layout: base.njk
---
<div class="container">
<h1>Unilateral problems for linear parabolic equations and variational inequalities with linear parabolic operators [See also 35R35, 49J40]</h1>
</div>