---
title: 47B35
layout: base.njk
---
<div class="container">
<h1>Toeplitz operators, Hankel operators, Wiener-Hopf operators {For other integral operators, see also 45P05, 47G10} [See also 32A25, 32M15]</h1>
</div>