---
title: 34M35
layout: base.njk
---
<div class="container">
<h1>Singularities, monodromy and local behavior of solutions to ordinary differential equations in the complex domain, normal forms</h1>
</div>