---
title: 34M50
layout: base.njk
---
<div class="container">
<h1>Inverse problems (Riemann-Hilbert, inverse differential Galois, etc.) for ordinary differential equations in the complex domain</h1>
</div>