---
title: 34M60
layout: base.njk
---
<div class="container">
<h1>Singular perturbation problems for ordinary differential equations in the complex domain (complex WKB, turning points, steepest descent) [See also 34E20]</h1>
</div>