---
title: 35R20
layout: base.njk
---
<div class="container">
<h1>Operator partial differential equations (= PDEs on finite-dimensional spaces for abstract space valued functions) [See also 34Gxx, 47A50, 47D03, 47D06, 47D09, 47H20, 47Jxx]</h1>
</div>