---
title: 70G45
layout: base.njk
---
<div class="container">
<h1>Differential geometric methods (tensors, connections, symplectic, Poisson, contact, Riemannian, nonholonomic, etc.) for problems in mechanics [See also 53Cxx, 53Dxx, 58Axx]</h1>
</div>