---
title: 28C05
layout: base.njk
---
<div class="container">
<h1>Integration theory via linear functionals (Radon measures, Daniell integrals, etc.), representing set functions and measures</h1>
</div>