---
title: 34C08
layout: base.njk
---
<div class="container">
<h1>Ordinary differential equations and connections with real algebraic geometry (fewnomials, desingularization, zeros of abelian integrals, etc.)</h1>
</div>