---
title: 35Q76
layout: base.njk
---
<div class="container">
<h1>Einstein equations {For several complex variables and analytic spaces, see 32Q40; for differential geometry, see 53C07; for relativity and gravitational theory, see 83C05, 83C25, 83D05}</h1>
</div>