---
title: 35J10
layout: base.njk
---
<div class="container">
<h1>Schrödinger operator, Schrödinger equation {For ordinary differential equations, see 34L40; for operator theory, see 47D08; for quantum theory, see 81Q05; for statistical mechanics, see 82B44}</h1>
</div>