---
title: 35J86
layout: base.njk
---
<div class="container">
<h1>Unilateral problems for linear elliptic equations and variational inequalities with linear elliptic operators [See also 35R35, 49J40]</h1>
</div>