---
title: 37C85
layout: base.njk
---
<div class="container">
<h1>Dynamics induced by group actions other than $\mathbb{Z}$ and $\mathbb{R}$, and $\mathbb{C}$ [See mainly 22Fxx, and also 32M25, 57R30, 57Sxx]</h1>
</div>