---
title: 20B25
layout: base.njk
---
<div class="container">
<h1>Finite automorphism groups of algebraic, geometric, or combinatorial structures [See also 05Bxx, 12F10, 20G40, 20H30, 51-XX]</h1>
</div>