---
title: 16S90
layout: base.njk
---
<div class="container">
<h1>Torsion theories; radicals on module categories (associative algebraic aspects) [See also 13D30, 18E40] {For radicals of rings, see 16Nxx}</h1>
</div>