---
title: 54C55
layout: base.njk
---
<div class="container">
<h1>Absolute neighborhood extensor, absolute extensor, absolute neighborhood retract (ANR), absolute retract spaces (general properties) [See also 55M15]</h1>
</div>