---
title: 37K06
layout: base.njk
---
<div class="container">
<h1>General theory of infinite-dimensional Hamiltonian and Lagrangian systems, Hamiltonian and Lagrangian structures, symmetries, conservation laws</h1>
</div>