---
title: 37K10
layout: base.njk
---
<div class="container">
<h1>Completely integrable infinite-dimensional Hamiltonian and Lagrangian systems, integration methods, integrability tests, integrable hierarchies (KdV, KP, Toda, etc.)</h1>
</div>