---
title: 37K20
layout: base.njk
---
<div class="container">
<h1>Relations of infinite-dimensional Hamiltonian and Lagrangian dynamical systems with algebraic geometry, complex analysis, and special functions [See also 14H70]</h1>
</div>