---
title: 37K25
layout: base.njk
---
<div class="container">
<h1>Relations of infinite-dimensional Hamiltonian and Lagrangian dynamical systems with topology, geometry and differential geometry</h1>
</div>