---
title: 20F10
layout: base.njk
---
<div class="container">
<h1>Word problems, other decision problems, connections with logic and automata (group-theoretic aspects) [See also 03B25, 03D05, 03D40, 06B25, 08A50, 20M05, 68Q70]</h1>
</div>