---
title: 68U05
layout: base.njk
---
<div class="container">
<h1>Computer graphics; computational geometry (digital and algorithmic aspects) {For methods of numerical mathematics, see 65D18}</h1>
</div>