---
title: 68U35
layout: base.njk
---
<div class="container">
<h1>Computing methodologies for information systems (hypertext navigation, interfaces, decision support, etc.) [See also 68M11]</h1>
</div>