---
title: 32P05
layout: base.njk
---
<div class="container">
<h1>Non-Archimedean analysis (should also be assigned at least one other classification number from Section 32-XX describing the type of problem)</h1>
</div>