---
title: Amogus Morado
layout: item.njk
price: $ 1.990
image: "/media/items/morado.png"
stock: 19
id: 9
---
<div class="container">
<p>Descripción del producto:</p>
<p>- Color: Morado</p>
<p>- Bastante Sus</p>
</div>