---
title: 30C15
layout: base.njk
---
<div class="container">
<h1>Zeros of polynomials, rational functions, and other analytic functions of one complex variable (e.g., zeros of functions with bounded Dirichlet integral) {For algebraic theory, see 12D10; for real methods, see 26C10}</h1>
</div>