---
title: 55R50
layout: base.njk
---
<div class="container">
<h1>Stable classes of vector space bundles in algebraic topology and relations to $K$-theory [See also 19Lxx] {For algebraic $K$-theory, see 18F25, 19-XX}</h1>
</div>