---
title: 42A16
layout: base.njk
---
<div class="container">
<h1>Fourier coefficients, Fourier series of functions with special properties, special Fourier series {For automorphic theory, see mainly 11F30}</h1>
</div>