---
title: 34M15
layout: base.njk
---
<div class="container">
<h1>Algebraic aspects (differential-algebraic, hypertranscendence, group-theoretical) of ordinary differential\newline equations in the complex domain</h1>
</div>