---
title: 53C42
layout: base.njk
---
<div class="container">
<h1>Differential geometry of immersions (minimal, prescribed curvature, tight, etc.) [See also 49Q05, 49Q10, 53A10, 57R40, 57R42]</h1>
</div>