---
title: Amogus Negro
layout: item.njk
price: $ 1.990
image: "/media/items/negro.png"
stock: 20
---
<div class="container">
<p>Descripción del producto:</p>
<p>- Color: Negro</p>
<p>- Bastante Sus</p>
</div>