---
title: 35K87
layout: base.njk
---
<div class="container">
<h1>Unilateral problems for parabolic systems and systems of variational inequalities with parabolic operators [See also 35R35, 49J40]</h1>
</div>