---
title: 34C07
layout: base.njk
---
<div class="container">
<h1>Theory of limit cycles of polynomial and analytic vector fields (existence, uniqueness, bounds, Hilbert's 16th problem and ramifications) for ordinary differential equations</h1>
</div>