---
title: 32A22
layout: base.njk
---
<div class="container">
<h1>Nevanlinna theory; growth estimates; other inequalities of several complex variables {For geometric theory, see 32H25, 32H30}</h1>
</div>