---
title: 68P30
layout: base.njk
---
<div class="container">
<h1>Coding and information theory (compaction, compression, models of communication, encoding schemes, etc.) (aspects in computer science) [See also 94Axx, 94Bxx]</h1>
</div>