---
title: 90B18
layout: base.njk
---
<div class="container">
<h1>Communication networks in operations research [See also 68M10, 68M12, 68M18, 94A05] {For networks as computational models, see 68Q06}</h1>
</div>