---
title: 34A12
layout: base.njk
---
<div class="container">
<h1>Initial value problems, existence, uniqueness, continuous dependence and continuation of solutions to ordinary differential equations</h1>
</div>