---
title: 32A30
layout: base.njk
---
<div class="container">
<h1>Other generalizations of function theory of one complex variable (should also be assigned at least one classification number from Section 30-XX) {For functions of several hypercomplex variables, see 30G35}</h1>
</div>