---
title: 46M20
layout: base.njk
---
<div class="container">
<h1>Methods of algebraic topology in functional analysis (cohomology, sheaf and bundle theory, etc.) [See also 14F06, 18Fxx, 19Kxx, 32Cxx, 32Lxx, 46L80, 46M15, 46M18, 55Rxx]</h1>
</div>