---
title: 13B22
layout: base.njk
---
<div class="container">
<h1>Integral closure of commutative rings and ideals [See also 13A35]; integrally closed rings, related rings (Japanese, etc.)</h1>
</div>