---
title: 35Q41
layout: base.njk
---
<div class="container">
<h1>Time-dependent Schrödinger equations and Dirac equations {For quantum theory, see 81Q05; for relativity and gravitational theory, see 83A05, 83C10}</h1>
</div>