---
title: 35Q49
layout: base.njk
---
<div class="container">
<h1>Transport equations {For calculus of variations and optimal control, see 49Q22; for fluid mechanics, see 76F25; for statistical mechanics, see 82C70, 82D75; for operations research, see 90B06; for mathematical programming, see 90C08}</h1>
</div>