---
title: 35Q89
layout: base.njk
---
<div class="container">
<h1>PDEs in connection with mean field game theory {For calculus of variations and optimal control, see 49N80; for game theory, see 91A16}</h1>
</div>