---
title: 18A30
layout: base.njk
---
<div class="container">
<h1>Limits and colimits (products, sums, directed limits, pushouts, fiber products, equalizers, kernels, ends and coends, etc.)</h1>
</div>