---
title: 52B20
layout: base.njk
---
<div class="container">
<h1>Lattice polytopes in convex geometry (including relations with commutative algebra and algebraic geometry) [See also 06A11, 13F20, 13F55, 13Hxx, 52C05, 52C07]</h1>
</div>