---
title: 52B40
layout: base.njk
---
<div class="container">
<h1>Matroids in convex geometry (realizations in the context of convex polytopes, convexity in combinatorial structures, etc.) [See also 05B35, 52Cxx]</h1>
</div>