---
title: 52B55
layout: base.njk
---
<div class="container">
<h1>Computational aspects related to convexity {For computational methods, see 52-08; for computational geometry and algorithms, see 68Q25, 68U05; for numerical algorithms, see 65Yxx} [See also 68Uxx]</h1>
</div>