---
title: 93C30
layout: base.njk
---
<div class="container">
<h1>Control/observation systems governed by functional relations other than differential equations (such as hybrid and switching systems)</h1>
</div>