---
title: Amogus Rojo
layout: item.njk
price: $ 1.990
image: "/media/items/rojo.png"
stock: 200
id: 1
---
<div class="container">
<p>Descripción del producto:</p>
<p>- Color: Rojo</p>
<p>- Bastante Sus</p>
<p>- Test</p>
</div>