---
title: 81R10
layout: base.njk
---
<div class="container">
<h1>Infinite-dimensional groups and algebras motivated by physics, including Virasoro, Kac-Moody, $W$-algebras and other current algebras and their representations [See also 17B65, 17B67, 22E65, 22E67, 22E70]</h1>
</div>