---
title: 20N02
layout: base.njk
---
<div class="container">
<h1>Sets with a single binary operation (groupoids) {For groupoids in connection with category theory, see 20L05; for topological groupoids, see 22A22, 58H05}</h1>
</div>