---
title: 19F27
layout: base.njk
---
<div class="container">
<h1>Étale cohomology, higher regulators, zeta and $L$-functions ($K$-theoretic aspects) [See also 11G40, 11R42, 11S40, 14F20, 14G10]</h1>
</div>