---
title: 46A19
layout: base.njk
---
<div class="container">
<h1>Other "topological'' linear spaces (convergence spaces, ranked spaces, spaces with a metric taking values in an ordered structure more general than $\mathbb{R}$, etc.)</h1>
</div>