---
title: 68V05
layout: base.njk
---
<div class="container">
<h1>Computer assisted proofs of proofs-by-exhaustion type {For rigorous numerics, see 65Gxx; for proofs employing automated or interactive theorem provers, see 68V15}</h1>
</div>