---
title: Amogus Amarillo
layout: item.njk
price: $ 1.990
image: "/media/items/amarillo.png"
stock: 20
id: 4
---
<div class="container">
<p>Descripción del producto:</p>
<p>- Color: Amarillo</p>
<p>- Bastante Sus</p>
</div>