---
title: 37N10
layout: base.njk
---
<div class="container">
<h1>Dynamical systems in fluid mechanics, oceanography and meteorology [See mainly 76-XX, especially 76D05, 76F20, 86A05, 86A10]</h1>
</div>