---
title: 47B06
layout: base.njk
---
<div class="container">
<h1>Riesz operators; eigenvalue distributions; approximation numbers, $s$-numbers, Kolmogorov numbers, entropy numbers, etc. of operators</h1>
</div>