---
title: 47B10
layout: base.njk
---
<div class="container">
<h1>Linear operators belonging to operator ideals (nuclear, $p$-summing, in the Schatten-von Neumann classes, etc.) [See also 47L20]</h1>
</div>