---
title: 47B32
layout: base.njk
---
<div class="container">
<h1>Linear operators in reproducing-kernel Hilbert spaces (including de Branges, de Branges-Rovnyak, and other structured spaces) [See also 46E22]</h1>
</div>