---
title: 18C15
layout: base.njk
---
<div class="container">
<h1>Monads (= standard construction, triple or triad), algebras for monads, homology and derived functors for monads [See also 18Gxx] {For functional programming, see also 68N18}</h1>
</div>