---
title: 16W55
layout: base.njk
---
<div class="container">
<h1>"Super'' (or "skew'') structure [See also 17A70, 17Bxx, 17C70] {For exterior algebras, see 15A75; for Clifford algebras, see 11E88, 15A66}</h1>
</div>