---
title: 51M35
layout: base.njk
---
<div class="container">
<h1>Synthetic treatment of fundamental manifolds in projective geometries (Grassmannians, Veronesians and their generalizations) [See also 14M15]</h1>
</div>