---
title: 13A70
layout: base.njk
---
<div class="container">
<h1>General commutative ring theory and combinatorics (zero-divisor graphs, annihilating-ideal graphs, etc.) [See also 05C25, 05E40]</h1>
</div>