---
title: 18N60
layout: base.njk
---
<div class="container">
<h1>$(\infty,1)$-categories (quasi-categories, Segal spaces, etc.); $\infty$-topoi, stable $\infty$-categories [See also 55U35, 55U40]</h1>
</div>