---
title: 51P05
layout: base.njk
---
<div class="container">
<h1>Classical or axiomatic geometry and physics (should also be assigned at least one other classification number from Sections 70-XX–86-XX)</h1>
</div>