---
title: 37B05
layout: base.njk
---
<div class="container">
<h1>Dynamical systems involving transformations and group actions with special properties (minimality, distality, proximality, expansivity, etc.)</h1>
</div>