---
title: 28A05
layout: base.njk
---
<div class="container">
<h1>Classes of sets (Borel fields, $\sigma$-rings, etc.), measurable sets, Suslin sets, analytic sets [See also 03E15, 26A21, 54H05]</h1>
</div>