---
title: 97A30
layout: base.njk
---
<div class="container">
<h1>History in mathematics education {For mathematics history, see 01-XX; for biographies, see 01A70; for history of mathematics education, see 97-03}</h1>
</div>