---
title: 12D10
layout: base.njk
---
<div class="container">
<h1>Polynomials in real and complex fields: location of zeros (algebraic theorems) {For the analytic theory, see 26C10, 30C15}</h1>
</div>