---
title: 14D21
layout: base.njk
---
<div class="container">
<h1>Applications of vector bundles and moduli spaces in mathematical physics (twistor theory, instantons, quantum field theory) [See also 32L25, 81Txx]</h1>
</div>