---
title: 47A56
layout: base.njk
---
<div class="container">
<h1>Functions whose values are linear operators (operator- and matrix-valued functions, etc., including analytic and meromorphic ones)</h1>
</div>