---
title: 22F30
layout: base.njk
---
<div class="container">
<h1>Homogeneous spaces {For general actions on manifolds or preserving geometrical structures, see 57M60, 57Sxx; for discrete subgroups of Lie groups, see especially 22E40}</h1>
</div>