---
title: 46E22
layout: base.njk
---
<div class="container">
<h1>Hilbert spaces with reproducing kernels (= (proper) functional Hilbert spaces, including de Branges-Rovnyak and other structured spaces) [See also 47B32]</h1>
</div>