---
title: 82C31
layout: base.njk
---
<div class="container">
<h1>Stochastic methods (Fokker-Planck, Langevin, etc.) applied to problems in time-dependent statistical mechanics [See also 60H10]</h1>
</div>