---
title: Amogus Azul
layout: item.njk
price: $ 1.990
image: "/media/items/azul.png"
stock: 13
id: 3
---
<div class="container">
<p>Descripción del producto:</p>
<p>- Color: Azul</p>
<p>- Bastante Sus</p>
</div>