---
title: 20L05
layout: base.njk
---
<div class="container">
<h1>Groupoids (i.e. small categories in which all morphisms are isomorphisms) {For sets with a single binary operation, see 20N02; for topological groupoids, see 22A22, 58H05}</h1>
</div>