---
title: 40J05
layout: base.njk
---
<div class="container">
<h1>Summability in abstract structures (should also be assigned at least one other classification number from Section 40-XX) [See also 43A55, 46A35, 46B15]</h1>
</div>