---
title: 70H33
layout: base.njk
---
<div class="container">
<h1>Symmetries and conservation laws, reverse symmetries, invariant manifolds and their bifurcations, reduction for problems in Hamiltonian and Lagrangian mechanics</h1>
</div>