---
title: Amogus Blanco
layout: item.njk
price: $ 1.990
image: "/media/items/blanco.png"
stock: 20
---
<div class="container">
<p>Descripción del producto:</p>
<p>- Color: Blanco</p>
<p>- Bastante Sus</p>
</div>