---
title: 37P30
layout: base.njk
---
<div class="container">
<h1>Height functions; Green functions; invariant measures in arithmetic and non-Archimedean dynamical systems [See also 11G50, 14G40]</h1>
</div>