---
title: 14F08
layout: base.njk
---
<div class="container">
<h1>Derived categories of sheaves, dg categories, and related constructions in algebraic geometry [See also 14A30, 14F06, 18Gxx]</h1>
</div>