---
title: 35L86
layout: base.njk
---
<div class="container">
<h1>Unilateral problems for nonlinear hyperbolic equations and variational inequalities with nonlinear hyperbolic operators [See also 35R35, 49J40]</h1>
</div>