---
title: 35L87
layout: base.njk
---
<div class="container">
<h1>Unilateral problems for hyperbolic systems and systems of variational inequalities with hyperbolic operators [See also 35R35, 49J40]</h1>
</div>