---
title: 60K50
layout: base.njk
---
<div class="container">
<h1>Anomalous diffusion models (subdiffusion, superdiffusion, continuous-time random walks, etc.) [See also 60G22, 60G55, 60J74, 60J76] {For applications to physics and the sciences, see 76-XX, 82Cxx, 92-XX}</h1>
</div>