---
title: 62R07
layout: base.njk
---
<div class="container">
<h1>Statistical aspects of big data and data science {For computer science aspects, see 68T09; for information-theoretic aspects, see 94A16}</h1>
</div>