---
title: 35M86
layout: base.njk
---
<div class="container">
<h1>Unilateral problems for nonlinear PDEs of mixed type and variational inequalities with nonlinear partial differential operators of mixed type [See also 35R35, 49J40]</h1>
</div>