---
title: 35M87
layout: base.njk
---
<div class="container">
<h1>Unilateral problems for mixed-type systems of PDEs and systems of variational inequalities with partial differential operators of mixed type [See also 35R35, 49J40]</h1>
</div>