---
title: 18F20
layout: base.njk
---
<div class="container">
<h1>Presheaves and sheaves, stacks, descent conditions (category-theoretic aspects) [See also 14F06, 14F08, 32C35, 32L10, 54B40, 55N30]</h1>
</div>