---
title: 16D70
layout: base.njk
---
<div class="container">
<h1>Structure and classification for modules, bimodules and ideals (except as in 16Gxx), direct sum decomposition and cancellation in associative algebras)</h1>
</div>