---
title: 16D90
layout: base.njk
---
<div class="container">
<h1>Module categories in associative algebras [See also 16Gxx, 16S90]; module theory in a category-theoretic context; Morita equivalence and duality</h1>
</div>