---
title: 60J20
layout: base.njk
---
<div class="container">
<h1>Applications of Markov chains and discrete-time Markov processes on general state spaces (social mobility, learning theory, industrial processes, etc.) [See also 90B30, 91D10, 91E40]</h1>
</div>