---
title: 78A97
layout: base.njk
---
<div class="container">
<h1>Mathematically heuristic optics and electromagnetic theory (must also be assigned at least one other classification number in Section 78-XX)</h1>
</div>