---
title: 37J38
layout: base.njk
---
<div class="container">
<h1>Relations of finite-dimensional Hamiltonian and Lagrangian systems with algebraic geometry, complex analysis, special functions</h1>
</div>