---
title: 37J39
layout: base.njk
---
<div class="container">
<h1>Relations of finite-dimensional Hamiltonian and Lagrangian systems with topology, geometry and differential geometry (symplectic geometry, Poisson geometry, etc.) [See also 53D20]</h1>
</div>