---
title: 37J51
layout: base.njk
---
<div class="container">
<h1>Action-minimizing orbits and measures for finite-dimensional Hamiltonian and Lagrangian systems; variational principles; degree-theoretic methods</h1>
</div>