---
title: 37B35
layout: base.njk
---
<div class="container">
<h1>Gradient-like and recurrent behavior; isolated (locally maximal) invariant sets; attractors, repellers for topological dynamical systems</h1>
</div>