---
title: 18M15
layout: base.njk
---
<div class="container">
<h1>Braided monoidal categories and ribbon categories {For applications to knot theory, see also 57Kxx; for applications to quantum groups, see also 16T20, 17B37, 81R50}</h1>
</div>