---
title: 18M20
layout: base.njk
---
<div class="container">
<h1>Fusion categories, modular tensor categories, modular functors {For applications to topological quantum field theories, see also 57R56; for applications to conformal field theories, see also 81T40}</h1>
</div>