---
title: 35S35
layout: base.njk
---
<div class="container">
<h1>Topological aspects for pseudodifferential operators in context of PDEs: intersection cohomology, stratified sets, etc. [See also 32C38, 32S40, 32S60, 58J15]</h1>
</div>