---
title: 28B20
layout: base.njk
---
<div class="container">
<h1>Set-valued set functions and measures; integration of set-valued functions; measurable selections [See also 26E25, 54C60, 54C65, 91B14]</h1>
</div>