---
title: 16P60
layout: base.njk
---
<div class="container">
<h1>Chain conditions on annihilators and summands: Goldie-type conditions [See also 16U20], Krull dimension (associative rings and algebras)</h1>
</div>