---
title: 03D45
layout: base.njk
---
<div class="container">
<h1>Theory of numerations, effectively presented structures [See also 03C57] {For intuitionistic and similar approaches, see 03F55}</h1>
</div>