---
title: 18F25
layout: base.njk
---
<div class="container">
<h1>Algebraic $K$-theory and $L$-theory (category-theoretic aspects) [See also 11Exx, 11R70, 11S70, 12-XX, 13D15, 14Cxx, 16E20, 19-XX, 46L80, 57R65, 57R67]</h1>
</div>