---
title: 74G10
layout: base.njk
---
<div class="container">
<h1>Analytic approximation of solutions (perturbation methods, asymptotic methods, series, etc.) of equilibrium problems in solid mechanics</h1>
</div>