---
title: 33C45
layout: base.njk
---
<div class="container">
<h1>Orthogonal polynomials and functions of hypergeometric type (Jacobi, Laguerre, Hermite, Askey scheme, etc.) {For general orthogonal polynomials and functions, see also 42C05}</h1>
</div>