---
title: 37K30
layout: base.njk
---
<div class="container">
<h1>Relations of infinite-dimensional Hamiltonian and Lagrangian dynamical systems with infinite-dimensional Lie algebras and other algebraic structures</h1>
</div>