---
title: 55M30
layout: base.njk
---
<div class="container">
<h1>Lyusternik-Shnirel'man category of a space, topological complexity à la Farber, topological robotics (topological aspects)</h1>
</div>