---
title: 26A15
layout: base.njk
---
<div class="container">
<h1>Continuity and related questions (modulus of continuity, semicontinuity, discontinuities, etc.) for real functions in one variable {For properties determined by Fourier coefficients, see 42A16; for those determined by approximation properties, see 41A25, 41A27}</h1>
</div>