---
title: 26A24
layout: base.njk
---
<div class="container">
<h1>Differentiation (real functions of one variable): general theory, generalized derivatives, mean value theorems [See also 28A15]</h1>
</div>