---
title: 46S10
layout: base.njk
---
<div class="container">
<h1>Functional analysis over fields other than $\mathbb{R}$ or $\mathbb{C}$ or the quaternions; non-Archimedean functional analysis [See also 12J25, 32P05]</h1>
</div>