---
title: 18D40
layout: base.njk
---
<div class="container">
<h1>Internal categories and groupoids {For double categories, see 18N10; for topological groupoids, see 22A22; for Lie groupoids, see 58H05}</h1>
</div>