---
title: Carrito
layout: cart.njk
---

<div id="div1" class="container">
  <h1>Carrito</h1>
  <p style="text-align:left">Items en el carrito:</p>
  <script src="/js/readcart.js"></script>
  <script src="/js/total.js"></script>
  <p id="total" style="font-size:0px;"></p>
  </div>
  <div id="div2">
<p>Total:</p>
</div>
<div id="div3">
<p id="final">$ 0</p>
</div>

