---
title: Demon Live
layout: base.njk
---

<div class="container">
  <h1>Prueba Demon Live 2.0</h1>
  <div class="random">Hola Hertz!</div>
  <div class="emoji">
    ❤️
  </div>
</div>
<script src="/js/random.js"></script>
