---
title: Demon Live
layout: base.njk
---
<style>
  .content {
    background-color: #202020;
    position: absolute;
    width: 50%;
    height: auto;
    left: 50%;
    border: 0px;
    border-color: #202020;
    padding: 0px;
    margin: 20px;
    transform: translate(-37.5%, 0);
    top: 5%;
    
  }
</style>

<div class="container">
  <h1>Este sitio está maldito</h1>
  <img src="/media/spiral.gif" alt="spiral" width="100%" position:"center">
  <p>Bienvenido a demon.live!</p>
  <p>El mejor sitio web en internet</p>


</div>