---
title: Items
layout: store.njk
---
<h1>Items</h1>
<a href="/items/Amogus-Rojo">
<div class="item">
<p>Amogus Rojo</p>
<img class="center-cropped" src="/media/items/rojo.png"alt="product" width="100%">
<p> Precio</p>
<p>$ 1.990</p>
</div>
</a>
<a href="/items/Amogus-Verde">
<div class="item">
<p>Amogus Verde</p>
<img class="center-cropped" src="/media/items/verde.png"alt="product" width="100%">
<p> Precio</p>
<p>$ 1.990</p>
</div>
</a>
<a href="/items/Amogus-Azul">
<div class="item">
<p>Amogus Azul</p>
<img class="center-cropped" src="/media/items/azul.png"alt="product" width="100%">
<p> Precio</p>
<p>$ 1.990</p>
</div>
</a>
<a href="/items/Amogus-Amarillo">
<div class="item">
<p>Amogus Amarillo</p>
<img class="center-cropped" src="/media/items/amarillo.png"alt="product" width="100%">
<p> Precio</p>
<p>$ 1.990</p>
</div>
</a>
<a href="/items/Amogus-Rosa">
<div class="item">
<p>Amogus Rosa</p>
<img class="center-cropped" src="/media/items/rosa.png"alt="product" width="100%">
<p> Precio</p>
<p>$ 1.990</p>
</div>
</a>
<a href="/items/Amogus-Negro">
<div class="item">
<p>Amogus Negro</p>
<img class="center-cropped" src="/media/items/negro.png"alt="product" width="100%">
<p> Precio</p>
<p>$ 1.990</p>
</div>
</a>
<a href="/items/Amogus-Blanco">
<div class="item">
<p>Amogus Blanco</p>
<img class="center-cropped" src="/media/items/blanco.png"alt="product" width="100%">
<p> Precio</p>
<p>$ 1.990</p>
</div>
</a>
<a href="/items/Amogus-Naranja">
<div class="item">
<p>Amogus Naranja</p>
<img class="center-cropped" src="/media/items/naranja.png"alt="product" width="100%">
<p> Precio</p>
<p>$ 1.990</p>
</div>
</a>
<a href="/items/Amogus-Morado">
<div class="item">
<p>Amogus Morado</p>
<img class="center-cropped" src="/media/items/morado.png"alt="product" width="100%">
<p> Precio</p>
<p>$ 1.990</p>
</div>
</a>
