---
title: Items
layout: store.njk
---

<h1>Items</h1>

<a href="/items/item1">
    <div class="item">
        <p> Item 1</p>
        <img src="/media/background.png" alt="test" width="98%">
        <p> Precio</p>
        <p> $ 1.990.990</p>
    </div>
</a>

<a href="/items/item2">
    <div class="item">
        <p> Item 2</p>
        <img src="/media/background.png" alt="test" width="98%">
        <p> Precio</p>
        <p> $ 1.990.990</p>
    </div>
</a>

<a href="/items/item3">
    <div class="item">
        <p> Item 3</p>
        <img src="/media/background.png" alt="test" width="98%">
        <p> Precio</p>
        <p> $ 1.990.990</p>
    </div>
</a>

<a href="/items/item4">
    <div class="item">
        <p> Item 4</p>
        <img src="/media/background.png" alt="test" width="98%">
        <p> Precio</p>
        <p> $ 1.990.990</p>
    </div>
</a>

<a href="/items/item5">
    <div class="item">
        <p> Item 5</p>
        <img src="/media/background.png" alt="test" width="98%">
        <p> Precio</p>
        <p> $ 1.990.990</p>
    </div>
</a>

<a href="/items/item6">
    <div class="item">
        <p> Item 6</p>
        <img src="/media/background.png" alt="test" width="98%">
        <p> Precio</p>
        <p> $ 1.990.990</p>
    </div>
</a>

<a href="/items/item7">
    <div class="item">
        <p> Item 7</p>
        <img src="/media/background.png" alt="test" width="98%">
        <p> Precio</p>
        <p> $ 1.990.990</p>
    </div>
</a>

<a href="/items/item8">
    <div class="item">
        <p> Item 8</p>
        <img src="/media/background.png" alt="test" width="98%">
        <p> Precio</p>
        <p> $ 1.990.990</p>
    </div>
</a>

<a href="/items/item9">
    <div class="item">
        <p> Item 9</p>
        <img src="/media/background.png" alt="test" width="98%">
        <p> Precio</p>
        <p> $ 1.990.990</p>
    </div>
</a>

<a href="/items/item10">
    <div class="item">
        <p> Item 10</p>
        <img src="/media/background.png" alt="test" width="98%">
        <p> Precio</p>
        <p> $ 1.990.990</p>
    </div>
</a>

<a href="/items/item11">
    <div class="item">
        <p> Item 11</p>
        <img src="/media/background.png" alt="test" width="98%">
        <p> Precio</p>
        <p> $ 1.990.990</p>
    </div>
</a>

<a href="/items/item12">
    <div class="item">
        <p> Item 12</p>
        <img src="/media/background.png" alt="test" width="98%">
        <p> Precio</p>
        <p> $ 1.990.990</p>
    </div>
</a>



