---
title: Pong 4 FFA
layout: game.njk
---
<script src="/js/p5.js"></script>
<script src="/js/p5.sound.min.js"></script>

  <div id="gamediv">
  <iframe scrolling="no" id="pongFrame" src="/4pong"></script>
  </div>
