---
title: Orden Realizada
layout: base.njk
---
<style>
  .content {
    background-color: #202020;
    position: absolute;
    width: 50%;
    height: auto;
    left: 50%;
    border: 0px;
    border-color: #202020;
    padding: 0px;
    margin: 20px;
    margin-top:0px;
    transform: translate(-37.5%, 0);
    top: 5%;
    
  }
</style>

<div class="container">
  <h1>Compra Realizada</h1>
  <p>Tu compra ha sido reservada</p>
  <p>Tienes dos horas para realizar el pago</p>
  <p id="order"><p>
  <script src="/js/checkout.js"></script>


</div>