---
title: 37F10
layout: base.njk
---
<div class="container">
<h1>Dynamics of complex polynomials, rational maps, entire and meromorphic functions; Fatou and Julia sets [See also 32A10, 32A20, 32H02, 32H04]</h1>
</div>