---
title: 30F35
layout: base.njk
---
<div class="container">
<h1>Fuchsian groups and automorphic functions (aspects of compact Riemann surfaces and uniformization) [See also 11Fxx, 20H10, 22E40, 32Gxx, 32Nxx]</h1>
</div>