---
title: 52A21
layout: base.njk
---
<div class="container">
<h1>Convexity and finite-dimensional Banach spaces (including special norms, zonoids, etc.) (aspects of convex geometry) [See also 46Bxx]</h1>
</div>