---
title: 33D50
layout: base.njk
---
<div class="container">
<h1>Orthogonal polynomials and functions in several variables expressible in terms of basic hypergeometric functions in one variable</h1>
</div>