---
title: 14A30
layout: base.njk
---
<div class="container">
<h1>Fundamental constructions in algebraic geometry involving higher and derived categories (homotopical algebraic geometry, derived algebraic geometry, etc.) {For categorical aspects, see 18Fxx, 18Gxx}</h1>
</div>