---
title: 49R05
layout: base.njk
---
<div class="container">
<h1>Variational methods for eigenvalues of operators (should also be assigned at least one other classification number in Section 49-XX) [See also 47A75]</h1>
</div>