---
title: 46B85
layout: base.njk
---
<div class="container">
<h1>Embeddings of discrete metric spaces into Banach spaces; applications in topology and computer science [See also 05C12, 68Rxx]</h1>
</div>