---
title: 03B45
layout: base.njk
---
<div class="container">
<h1>Modal logic (including the logic of norms) {For knowledge and belief, see 03B42; for temporal logic, see 03B44; for provability logic, see also 03F45}</h1>
</div>