---
title: 03B47
layout: base.njk
---
<div class="container">
<h1>Substructural logics (including relevance, entailment, linear logic, Lambek calculus, BCK and BCI logics) {For proof-theoretic aspects, see 03F52}</h1>
</div>