---
title: 37M25
layout: base.njk
---
<div class="container">
<h1>Computational methods for ergodic theory (approximation of invariant measures, computation of Lyapunov exponents, entropy, etc.)</h1>
</div>